.wrapper {
    background-color: #263C56;
    display: flex;
    flex-direction: column;
    height: 92.5vh;
    width: 250px;
    margin: 0 1em 2em 1em;
    border-radius: 30px;
}

.closeBtn {
    margin-top: 20px;
    margin-left: 10px;
}

.collapsed {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin: 1rem 2em 0 1em;
}

.navDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.accordionNavDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}